<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <title>Agente de Impressão Rangooo</title>
    <link rel="stylesheet" href="../public/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="badge-section">
        <div class="badge-center">
          <p>
            Status impressora:
            <span id="status-badge" class="badge badge-status badge-secondary">
              Desconectado
            </span>
          </p>
        </div>
      </div>

      <section class="brand">
        <div class="brand-img">
          <img src="../public/img/logo-agente-branca.svg" alt="logo agente" />
        </div>
        <div class="brand-description">
          <h1>Agente de impressão Rangooo</h1>
          <p>Versão: <span id="versao-electron">Carregando...</span></p>
        </div>
      </section>

      <div class="log-container">
        <div class="log-title">Log de Atividades</div>
        <div id="log"></div>
      </div>

      <footer class="footer">
        <div class="container-btns">
          <button id="print-test" class="btn connect">Imprimir teste</button>
        </div>
      </footer>
    </div>
    <script src="./renderer.js"></script>
  </body>
</html>
